$color-background: #282b33;
$color-footer-mobile-1: lighten($color-background, 2%);
$color-footer-mobile-2: lighten($color-background, 10%);
$color-background-code: lighten($color-background, 2%);
$color-border: #666;
$color-meta: #7289bc;
$color-meta-code: #666;
$color-link: #b48ead;
$color-text: #c5c5c5;
$color-accent-3: #cccccc;
$color-accent-2: #eeeeee;
$color-accent-1: #5b94ab;
$color-quote: #ebcb8b;
